name: Android Build

on:
  workflow_dispatch:
    inputs:
      app_name:
        required: true
      package_name:
        required: true
      web_url:
        required: false
      splash_time:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant Gradle Permission
        run: chmod +x gradlew

      - name: Build APK
        run: ./gradlew assembleRelease

      - name: Build AAB
        run: ./gradlew bundleRelease

      - name: Collect Files
        run: |
          mkdir build_artifacts
          cp app/build/outputs/apk/release/app-release.apk build_artifacts/
          cp app/build/outputs/bundle/release/app-release.aab build_artifacts/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Mango-Android-Files
          path: build_artifacts
