name: Android Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission to gradlew
        run: chmod +x gradlew

      # ---------- BUILD APK ----------
      - name: Build Release APK
        run: ./gradlew assembleRelease

      # ---------- BUILD AAB ----------
      - name: Build Release AAB
        run: ./gradlew bundleRelease

      # ---------- COLLECT FILES ----------
      - name: Collect build files
        run: |
          mkdir build_artifacts
          cp app/build/outputs/apk/release/app-release.apk build_artifacts/
          cp app/build/outputs/bundle/release/app-release.aab build_artifacts/

      # ---------- UPLOAD ARTIFACTS ----------
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Android-Build
          path: build_artifacts
