name: Mango Auto Builder
on:
  workflow_dispatch:
    inputs:
      app_name:
        description: 'App Name'
        required: true
      package_name:
        description: 'Package ID'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Folders
        run: |
          mkdir -p app/src/main/assets
          echo "Ready to build ${{ github.event.inputs.app_name }}"
