name: Mango Native Android Builder
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Updated to v4

      - name: set up JDK 17
        uses: actions/setup-java@v4 # Updated to v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build APK (Release)
        run: ./gradlew assembleRelease

      - name: Build AAB (Bundle)
        run: ./gradlew bundleRelease

      - name: Upload Results
        uses: actions/upload-artifact@v4 # Ye asli fix hai (v4)
        with:
          name: Mango-Release-Apps
          path: |
            app/build/outputs/apk/release/*.apk
            app/build/outputs/bundle/release/*.aab
