name: Mango Ultimate Engine V2

on:
  workflow_dispatch:
    inputs:
      app_name:
        description: 'Apni App Ka Naam Likhen'
        required: true
        default: 'Mango App'
      package_name:
        description: 'Package ID (e.g. com.mango.app)'
        required: true
        default: 'com.mango.app'
      web_url:
        description: 'Web URL'
        required: false
        default: 'https://google.com'
      splash_time:
        description: 'Splash Screen Time (ms)'
        required: false
        default: '3000'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Repair Gradle Files
        # Yeh step khali gradlew file aur missing jar file ko force fix karega
        run: |
          rm -f gradlew
          gradle wrapper --gradle-version 8.0
          chmod +x gradlew

      - name: Build APK and AAB
        # Is step par aapko asli progress dikhegi (3-5 mins)
        run: ./gradlew assembleDebug bundleDebug --no-daemon --stacktrace

      - name: Upload Files
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Mango-Release-Package
          path: |
            app/build/outputs/apk/debug/*.apk
            app/build/outputs/bundle/debug/*.aab
