name: Mango Ultimate Engine V2

on:
  workflow_dispatch:
    inputs:
      app_name:
        description: 'App Name'
        required: true
        default: 'Mango App'
      package_name:
        description: 'Package ID'
        required: true
        default: 'com.mango.app'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          # Cache ko false kar rahe hain taake 9.3 ki koi file bachi na rahe
          cache: 'gradle'

      - name: Clean and Force Gradle 8.0
        # Hum server ko majboor karenge ke woh properties file wala version hi download kare
        run: |
          chmod +x gradlew
          ./gradlew --version
          
      - name: Build APK
        # Clean build command conflict khatam karne ke liye
        run: ./gradlew clean assembleDebug --no-daemon --stacktrace

      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Mango-Release-APK
          path: app/build/outputs/apk/debug/*.apk
