name: Mango Ultimate Engine

on:
  workflow_dispatch:
    inputs:
      app_name:
        description: 'App Name'
        required: true
        default: 'Mango App'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/checkout@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Update App Name
        run: |
          # Is line mein hum ensure kar rahe hain ke path sahi ho
          FILE_PATH="app/src/main/res/values/strings.xml"
          if [ -f "$FILE_PATH" ]; then
            sed -i 's/name="app_name">.*<\/string>/name="app_name">${{ github.event.inputs.app_name }}<\/string>/g' $FILE_PATH
          else
            echo "Error: strings.xml not found at $FILE_PATH"
            exit 1
          fi

      - name: Build APK and AAB
        run: ./gradlew assembleDebug bundleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Mango-APK
          path: app/build/outputs/apk/debug/*.apk

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: Mango-Bundle
          path: app/build/outputs/bundle/debug/*.aab
