name: Mango Android Builder Pro

on:
  workflow_dispatch:
    inputs:
      app_name:
        required: true
      package_name:
        required: true
      # Dashboard ke liye ye dono lazmi hain:
      web_url:
        default: 'none'
      splash_time:
        default: '3000'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant Execute Permission
        run: chmod +x gradlew

      - name: Build with Gradle
        run: |
          ./gradlew clean :app:assembleRelease --no-daemon

      - name: Prepare Artifacts
        if: always()
        run: |
          mkdir -p final_files
          # 'find' command use kar rahe hain taake path ka masla hi khatam ho jaye
          find . -name "*.apk" -exec cp {} final_files/ \;
          find . -name "*.aab" -exec cp {} final_files/ \;
          ls -R final_files/

      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.app_name }}-Android
          path: final_files/
          if-no-files-found: error
