name: Mango Build Engine
on:
  workflow_dispatch:
    inputs:
      app_name: { required: true }
      package_name: { required: true }
      web_url: { required: false, default: 'none' }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Sync Dashboard Files to Android Folders
        run: |
          # Bahar wali files ko sahi folders mein move karna
          cp index.html app/src/main/assets/index.html || echo "No index found"
          cp icon.png app/src/main/res/mipmap-xxxhdpi/ic_launcher.png || echo "No icon found"
          
          # MainActivity mein URL inject karna
          sed -i "s|DEFAULT_URL|${{ github.event.inputs.web_url }}|g" app/src/main/java/com/mango/MainActivity.java

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Build Real APK
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.app_name }}
          path: app/build/outputs/apk/release/*.apk
